# Dependency directories
node_modules/

# TypeScript build
dist

# TypeScript cache
*.tsbuildinfo

# Test coverage
coverage/

# Optional npm cache directory
.npm

# Lint cache
.eslintcache

# npm pack output
*.tgz

# Logs
npm-debug.log*

# OS files
.DS_Store

# dotenv environment variables file
.env
